<div class="nav d-block shadow-2" (mouseleave)="unsetHoveringLink($event)">
  <nav
    class="row style-primary"
  >
    <div class="container-grow flex-row">
      <div
        class="container font-size-3"
      >
      <a
        class="my-auto d-flex px-3 font-bold cursor-pointer"
        style="text-decoration: none; color: #222d33"
        href="/"
      >
        <img
          alt="logo"
          class="logo-image"
          src="assets/images/logo.png"
          />
      </a>
      </div>
      <div
        class="container-grow"
      >
        <div
          class="container py-2"
        >
          <div
            *ngFor="let link of links"
            class="font-size-4 my-auto p-2 px-2 cursor-pointer navigation-link main-navbar"
            [class.active]="productCategoryRouteIsActive(link)"
            [routerLink]="link.route"
            [id]="link.id"
            (mouseenter)="setHoveringLink($event)"
          >
            {{link.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="container font-size-3 my-auto">
      <img
        src="assets/images/icons/profile.png"
        class="cursor-pointer"
        style="height: 40px; margin-right: 8px; margin-top: 2px; margin-bottom: -2px;"
        routerLink="/profile"
        />
      <span class="pos-relative cursor-pointer" [routerLink]="'shopping-cart/' + (shoppingCart.id ?? '')">
        <img
          src="assets/images/icons/shopping-cart.png"
          style="height: 40px; margin-right: 8px; margin-top: 2px; margin-bottom: -2px;"
          />
        <div
          style="right: 4px; background-color:#ffa600; height: 24px;border-radius: 12px;box-shadow: #222d33 1px 1px 1px;"
          [style.width]="24 + (shoppingCart.itemCount.toString().length - 1) * 11 + 'px'"
          class="pos-absolute"
          >
          <small
            style="right:6px; color:#fff; text-shadow: #000 2px 2px 2px;"
            class="pos-absolute"
            >
            {{shoppingCart.itemCount}}
          </small>
        </div>
      </span>
      <span
        routerLink="/login"
        *ngIf="authService.currentAuthStatus === 1"
        class="p-2 px-3 cursor-pointer active navigation-link"
        style="border-left: #222d33 solid 1px;"
        [class.active]="currentRoute.startsWith('/login')"
      >
        Sign In
      </span>
      <span
        *ngIf="authService.currentAuthStatus === 0"
        class="p-2 px-3 cursor-pointer"
        style="border-left: #222d33 solid 1px;"
        (click)="authService.logout()"
        >
        Sign Out
      </span>
    </div>
  </nav>
  <div
    class="row style-primary"
    style="border-top: #222d33 1px solid"
    *ngIf="hoveringLink"
    >
    <div class="px-3">
      <div *ngFor="let link of hoveringLink.subLinks"
        class="p-2 px-3 cursor-pointer navigation-link"
        [class.active]="productCategoryRouteIsActive(link, true)"
        [routerLink]="link.route"
        [id]="link.id"
        >
        <span>
          {{link.name}}
        </span>
      </div>
    </div>
  </div>
</div>
