nav {
    height: 4rem;
}
.navigation-link {
}
.navigation-link:first-child {
  border-left: #222d33 solid 1px;
  padding-left: 16px;
}
.template {
  display: none;
}
.parent {
  div {
  }
}
.nav {
  position: fixed;
  width: 100%;
  z-index: 9999999;
}
.logo-image {
  height: 48px;
}
