.row {
    width: 100%;
    display: flex;
  flex-direction: row;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.container {
  display: flex;
  flex-grow: 0;
}

.container-grow {
  display: flex;
  flex-grow: 1;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: $grid-column-width * $i;
    }
    .offset-#{$i} {
        margin-left: $grid-column-width * $i;
    }
}

@each $size-name in $grid-size-names {
    @media (min-width: map-get($grid-size, $size-name)) {
        @for $i from 1 through 12 {
            .col-#{$size-name}-#{$i} {
                width: $grid-column-width * $i;
            }
            .offset-#{$size-name}-#{$i} {
                margin-left: $grid-column-width * $i;
            }
        }
    }
}
