
<div class="mt-4 offset-1 col-10">
  <div class="row">

  </div>
  <div #productContainer>
    <div
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2"
      *ngFor="let product of $products | async"
      >
      <div
        class="m-3 my-4"
      >
        <div class="col-12 pos-relative">
          <img
            class="product-image col-12"
            [src]="imageUrls[product.id][0]"
            />
          <img
            alt="shopping-cart"
            src="assets/images/icons/shopping-cart.png"
            style="position:absolute; right: 0px;top:0px; width: 48px; margin: 0px; cursor: pointer; padding-right: 4px;"
            (click)="shoppingCart.addToCart(product)"
            />
        </div>
        <div class="col-12" style="position: relative;">
          <div class="d-flex flex-row col-12" style="position: absolute; margin-top: -15px; align-items: stretch;">
            <div class="container-grow mr-4">
              {{product.name}}
            </div>
            <div class="container">
              {{product.price | currency}}{{product.currency?.symbol}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
